@{
  Layout = "_Layout";
}
@using ProjectName.Models
<h1>@Model.Property</h1>
<ul>
  <li>Item other info: @Model.Id</li>
</ul>

<div class="footer">
  <a href="/items">Return To List</a>
  <a href='/categories/@Model["category"].Id/items/new'>Add another item</a>
  <a href='/categories'>View all categories</a>
</div>